- @presentations.each do |presentation|
  %p
    = presentation.name
    = link_to icon('fas', 'info-circle', class: 'fa-fw'), presentation_path(presentation)
    %br
    Watching:
    = presentation.watchers
