.row.mb-2
  .col= sorting_header 'Event',      :supplements_path, 'conferences.name'
  .col= sorting_header 'Event Date', :supplements_path, 'conferences.start_date'
  .col.col-sm-6
    %strong Name
  .col-sm-1
    %strong Info
  .col-sm-1
    %strong Get
