.row.mb-2
  .col-md-6
    = sorting_header 'Name', :publications_path, 'publications.sortable_name'
    = ' / Format / '
    - if params[:sort].include? 'publications.created_at'
      = sorting_header 'Added', :publications_path, 'publications.created_at', 'sort-numeric'
    - else
      = sorting_header 'Published', :publications_path, 'publications.published_on', 'sort-numeric'
  .col Events
  - if params[:heart].present?
    .col Needs
  .col.d-none.d-md-block
