.row.mb-2
  .col-md-6
    = sorting_header 'Name', :publications_path, 'publications.sortable_name'
    = ' / Published / Format'
  .col Events
  - if params[:heart].present?
    .col Needs
  .col.d-none.d-md-block
