-# The publications form_fields partial does its own column management
= simple_form_for @publication, :html => {:autocomplete => "off"} do |f|
  = render :partial => "form_fields", :locals => {:f => f}
  .row
    .col-md-12
      = save_or_cancel f, publication_path(@publication)
