- title 'Publications'

= render partial: 'control_bar'

.row
  .col-md-12
    - if @publications.blank?
      - if params[:search_term].present? || params[:tag].present?
        %p No publications match that search term
      - else
        %p You haven't created any publications yet.
    - else
      %table.table
        = render :partial => "table_head"
        = render :partial => "publication", :collection => @publications

      = paginate @publications
