- title 'Publications'

= render partial: 'control_bar'

- if @publications.blank?
  .row
    .col-md-12
      - if params[:search_term].present? || params[:tag].present?
        %p No publications match that search term
      - else
        %p You haven't created any publications yet.
- else
  .row
    .col-md-12
      %table.table
        = render :partial => "table_head"
        = render :partial => "publication", :collection => @publications

  = render :partial => 'shared/pagination', locals: { collection: @publications }
