= f.input :speaker_id, collection: [[@presentation.speaker_name, @presentation.speaker&.id]], label: false, input_html: { data: { delimiter: ',', placeholder: "enter a speaker name...", source: speakers_path(format: :json) }, class: "select2-autocomplete" }
= f.input :name, :autofocus => true
= f.input :description
