- title 'Presentations'

= render partial: 'control_bar'

- if @presentations.blank?
  .row
    .col-md-12
      - if params[:search_term].present? || params[:tag].present?
        %p No presentations match that search term
      - else
        %p You haven't created any presentations yet.
- else
  = render :partial => "header"
  = render :partial => "presentation", :collection => @presentations

  = render :partial => 'shared/pagination', locals: { collection: @presentations }
