- title 'Presentations'

= render partial: 'control_bar'

.row
  .col-md-12
    - if @presentations.blank?
      - if params[:search_term].present? || params[:tag].present?
        %p No presentations match that search term
      - else
        %p You haven't created any presentations yet.
    - else
      %table.table
        = render :partial => "table_head"
        = render :partial => "presentation", :collection => @presentations

      = paginate @presentations
