.row
  .col-md-12
    = title "Add a New Presentation"
.row
  .col-md-12
    = simple_form_for @presentation, :html => {:autocomplete => "off"} do |f|
      = render :partial => "form_fields", :locals => {:f => f}
      %hr
      = save_or_cancel f, presentations_path, 'Create'
