%tr
  %th= sorting_header 'Name', :organizers_path, 'organizers.name'
  %th= sorting_header 'Series Name', :organizers_path, 'organizers.series_name'
  %th= sorting_header 'Abbreviation', :organizers_path, 'organizers.abbreviation'
  %th
