- title 'Organizers'

= render partial: 'control_bar'

.row
  .col-md-12
    - if @organizers.blank?
      %p You haven't created any organizers yet.
    - else
      %table.table
        = render :partial => "table_head"
        = render :partial => "organizer", :collection => @organizers

      = paginate @organizers
