%tr
  %th Status
  %th= sorting_header 'Name', :users_path, 'users.sortable_name'
  %th= sorting_header 'Email', :users_path, 'lower(users.email)'
  %th= sorting_header 'Role', :users_path, 'roles.name'
  %th
  %th= sorting_header 'Login', :users_path, 'users.last_login_at', 'sort-numeric'
  %th
