.row
  .col-md-12
    %h3 Conferences You've Attended
    - if @conferences.length == 0
      %p You haven't marked any conferences as attended yet.
    - else
      %ul
      - @conferences.each do |conference|
        %li= link_to conference.name, conference_path(conference)
