- title 'Users'

= render partial: 'control_bar'

.row
  .col-md-12
    - if @users.blank?
      %p.error There are no users that match your criteria
    - else
      %table.table
        = render :partial => "table_head"
        = render :partial => "user", :collection => @users

      = paginate @users
