- title 'Users'

= render partial: 'control_bar'

- if @users.blank?
  .row
    .col-md-12
      %p.error There are no users that match your criteria
- else
  .row
    .col-md-12
      %table.table
        = render :partial => "table_head"
        = render :partial => "user", :collection => @users

  = render :partial => 'shared/pagination', locals: { collection: @users }
