.row
  .col-md-12
    = render partial: 'shared/return_from_chart_with_params'

    - if params[:search_term].present?
      %h3
        Conference Cities for
        = params[:search_term]

    - elsif params[:user_id].present?
      %h3
        Your Conference Cities
        = params[:search_term]

    - else
      %h3 Top Conference Cities

    %p Click a city to see its conferences
    #cities_chart
      = render partial: 'shared/cities_chart'
