.row
  .col-md-12
    = render partial: 'shared/return_from_chart_with_params'

    - if params[:search_term].present?
      %h3
        Conference Countries for
        = params[:search_term]

    - elsif params[:user_id].present?
      %h3
        Your Conference Countries
        = params[:search_term]

    - else
      %h3 Top Conference Countries

    %p Click a country to see its conferences
    #countries_chart
      = render partial: 'shared/countries_chart'
    .text-center Conferences
