-# full documentation at:  http://ogp.me
=tag :meta, property: "fb:app_id",       content: ENV['FB_APP_ID'] # debug page says this is required
=tag :meta, property: "og:title",        content: og_title
=tag :meta, property: "og:type",         content: og_type          # See:  https://developers.facebook.com/docs/reference/opengraph#object-type
=tag :meta, property: "og:url",          content: og_url
=tag :meta, property: "og:image",        content: og_image_url     if og_image_url.present?

-# optional but recommended
=tag :meta, property: "og:image:type",   content: og_image_type    if og_image_type.present?
=tag :meta, property: "og:image:width",  content: og_image_width   if og_image_width.present?
=tag :meta, property: "og:image:height", content: og_image_height  if og_image_height.present?

-# Optional properties
=tag :meta, property: "og:site_name",    content: "Objectivist Media"
=tag :meta, property: "og:description",  content: og_description   if og_description.present?
