-# NOTE: this no longer works without a Google API key with billing enabled
-#       see:  https://developers.google.com/maps/documentation/javascript/get-api-key

- content_for :pre_application_js do
  -# Uncomment one or the other of these to use google charts or highcharts
  = javascript_include_tag "https://www.gstatic.com/charts/loader.js"
  =# javascript_include_tag "https://code.highcharts.com/highcharts.js"

-# use this method to get the data from an endpoint after the page loads
=# bar_chart cities_count_by_events_path(search_term: params[:search_term], format: :json), library: { yAxis: { allowDecimals: false } }

-# use this method to get the data from the controller action, and set the height based on the result size
= geo_chart Conference.group("conferences.city||', '||conferences.country").count, width: "100%", height: "600px", library: { displayMode: "markers", region: params[:region] || "world" }
