.row
  .col-md-12
    = f.input :name, hint: 'Typically as given in copyright statement'
.row
  .col-md-12
    = f.input :description, as: :text, hint: 'Any supplemental info about origins or markings'
