-# show uses this when listing presentations for an event. The heading links are different, so sortability works correctly.
%tr
  %th
    = link_to 'Name', event_path(@conference, nav_params.merge(sort: '+sortable_name'))
    = ' / Speaker(s) / Topics'
  -if @conference.present? && (@conference.multi_venue? || @conference.virtual?)
    %th
      = [@conference.virtual? || @conference.multi_venue? ? link_to('Date', event_path(@conference, nav_params.merge(sort: '+date'))) : nil, @conference.multi_venue? ? 'Location' : nil].compact.join(' / ').html_safe
  - if params[:heart].present?
    %th Needs
  %th Media
  %th
