- title 'Events'

= render partial: 'events/control_bar'

- if @conferences.blank?
  .row
    .col-md-12
      - if param_context(:search_term).present? || param_context(:tag).present?
        %p No events match the search terms
      - elsif param_context(:event_type).present?
        %p No events match the event type
      - else
        %p The system doesn't contain any events yet
- else
  = render :partial => "events/header"
  = render :partial => "events/conference", :collection => @conferences

  = render :partial => 'shared/pagination', locals: { collection: @conferences }
