= render partial: 'menu'

.row
  .col-md-12
    %h2 What's It All About?
    %p
      This site is a community supported archive of Objectivist conferences over the years. Much of our content depends on
      the memories of our contributors, and personal reference material they have collected over the years. If you have any
      info that can expand our records, your contributions are welcome.

    %p This site is not affiliated with the Ayn Rand Institute, nor any of the other conference sponsor organizations.

    %p
      Version:
      = APP_VERSION

    =# fb_social_bar(title: 'Objectivist Conferences', description: "Objectivist Conferences and related media.")
