= render partial: 'menu'

.row
  .col-md-12
    %h2 What's It All About?
    %p
      This site is a community supported archive of Objectivist conferences over the years. The presentations are collected
      under each conference, with links to the material when it is available online, or pointers to the fact that it has
      been published on tape or CD when it exists.

    %p
      The idea is that by bringing all this information together in one place, it will be easier to find the many great
      presentations of the past that are lost in the infinity of the web, as well as identify material that is not
      readily available, but could be made available by digitizing old media.

    %p
      Much of our content depends on the memories of our contributors, and personal reference material they have collected
      over the years. If you have any info that can expand our records, your contributions are welcome.

    %p This site is not affiliated with the Ayn Rand Institute, nor any of the other conference sponsor organizations.

    %p
      Version:
      = APP_VERSION

    =# fb_social_bar(title: 'Objectivist Conferences', description: "Objectivist Conferences and related media.")

.row
  .col-md-12
    %h3 Most Frequent Presenters
    %p Click a name to see their presentations
    #speakers_chart
      = render partial: 'shared/speakers_chart'

.row
  .col-md-12
    %h3 Most Frequent Conference Cities
    %p Click a city to see its conferences
    #cities_chart
      = render partial: 'shared/cities_chart'
