= render partial: 'menu'
- title 'Contact Us'

.row
  .col-md-12
    %h2 Can You Help?
    %p
      If you organized an event that isn't listed in our system, or have old conference materials that could help
      complete our records, we would love to hear from you. If you are a speaker and would like to edit your own bio or
      photo, feel free to create an account, and we can make that happen.

.row
  .col-md-12
    %h2 Contact Us

    %p= mail_to "webmaster@objectivistconferences.info"

