= render partial: 'menu'

%h2 Guidelines
%p
  There are many options in terms of how to enter the conference info, and how to tag it. Following these guidelines will
  help keep the data consistent. Guidelines will evolve over time.

%h4 Conferences
%p
  if you add a conference, you'll pick an organizer. This denotes the sponsoring organization, as well as a conference
  series. For example, ARI hosts a student conference AynRandCon, as well as a general summer conference OCON, plus
  occasional special events. Organizers are not expected to change very often. If you discover a new organizer, contact
  the admin.

%ul
  %li
    What is a conference? So far, it is limited to events with a physical location that generate media which might be
    recorded. Pure telepresence events are not included.

%h4 Speakers
%ul
  %li
    Try to create the speaker only once. Watch out for variations with and without the middle initial.

%h4 Presentations
%ul
  %li
    You don't have to know the Conference a presentation was created at in order to add it. It's better if you do know it,
    so the presentation isn't duplicated later.
%ul
  %li
    Sometimes a presentation is listed as a single event on the schedule, but media is released in multiple parts - typically
    for a multi-speaker panel. In this case, create one presentation per the schedule, and attach multiple presentations to it.
    For example, see
    %i= link_to "Free Will, Free Speech, Free Borders, Freedom in the Middle East", 'http://objectivistconferences.info/presentations/123'
%ul
  %li
    Each delivery of a presentation is considered distinct, even if the name is the same, and the content is substantially
    the same. Each presentation may still have its own recorded media.

%h5 Tagging Presentations
%p
  Tags make presentations searchable by terms that don't appear in the title. A presentation about concepts or perception
  might not mention the word "epistemology" at all, but we would want to find it when searching by that term. Tags solve
  that problem.

%p
  Tags are designed to avoid creating a pre-defined list of categories and then assigning items to a category. Tags
  are flexible, so we don't have to imagine all the possible categories in advance. But that flexibility can result in
  the tags becoming overly complex over time.
%ul
  %li
    Try to come up with one or perhaps two tags that capture the presentation's topic at the highest level.
%ul
  %li
    Don't add tags already in the title.  For example, a talk titled "Epistemology in Objectivism"  will already be
    searchable by "objectivism" and "epistemology", so it isn't necessary to add that information as tags.
%ul
  %li
    Use topic/category style tags, like history, psychology, etc. Not adjective-style like: historical, psychological.
