-# Currently the News page is a testing ground that runs on different CSS from everything else
- content_for :body_class do 'news' end
- content_for :body_container_class do 'none' end

.row
  .col-md-12.carousel-container
    %h1.carousel-title Objectivist Conferences
    = render partial: 'carousel'

-# Add a space between the carousel and the news . . . or not.
-#.row
-#  .col-md-12
-#    %p

.row
  .col-md-6.news-item.primary-block
    - if current_user
      %h3 Your Notifications
      %div#notifications
    - else
      %h3 Notifications
      %p
        = link_to "Sign up", new_user_path
        to get notified when presentations you're interested in are published.

  .col-md-6.news-item.secondary-block

.row
  .col-md-6.news-item.primary-block
    %h3 Upcoming Conferences
    %div#upcoming_conferences

  .col-md-6.news-item.secondary-block
    %h3 Latest Publications
    %div#latest_publications

.row
  .col-md-6.news-item.primary-block
    %h3 Most Watched Presentations
    %div#most_watched

  .col-md-6.news-item.secondary-block
    %h3 Most Anticipated Presentations
    %div#most_anticipated

-# This gets each one of the content areas above loaded Ajaxily, without the pages controller getting involved.
= content_for :footer do
  :javascript
    $(document).ready(function() {
      $("#upcoming_conferences").load("/conferences/upcoming");
      $("#latest_publications").load("/publications/latest");
      $("#notifications").load("/user_presentations/notifications");
      // $("#notifications").load("/user_presentations/watchlist");
      $("#most_watched").load("/user_presentations/most_watched");
      $("#most_anticipated").load("/user_presentations/most_anticipated");
    });
