/* Handles the Rails-specific classes associated with flash messages and error notices
 */
.alert {
  margin-top: 20px;
}

.alert-success {
  background-color: #fff
}

.alert-notice {
  color: green;
  background-color: #e0ffe0
}

.alert-error {
  color: black;
  background-color: #ffe0e0
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

/* The class form-control breaks trix editor fields, so this compensates for it so error handling works uniformly.
 * Probably adding as a simple_form plugin would fix it permanently. This makes Trix Rich Text fields with errors
 * almost match simple_form fields.
 */
div.has-error trix-editor {
  border-color: #a94442;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

/* For some reason, error fields aren't getting highlighted automatically - maybe SimpleForm update? Do it directly */

/* this is a little gaudy and unsophisticated.
div.has-error {
  border-width: 1px;
  border-style: solid;
}
*/

/* This is a little harder to notice, but looks better */
div.has-error span.help-block {
  color: red;
}
