.row.mb-2
  .col-md-2
    = sorting_header 'Name', :passages_path, 'passages.name'
  .col-md-2.text-right
    Version
  .col
    = sorting_header 'View', :passages_path, 'passages.view'
  .col
    = sorting_header 'Instance Var', :passages_path, 'passages.assign_var'


  - if can? :edit, Passage
    .col-md-3.text-right
      &nbsp;
