/* Sets up styles related to the overall layout - primarily the sticky footer */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Add a space for the footer, plus any extra spacing  */
  margin-bottom: 80px !important;
}

.body-container {
  margin-top: 20px;
  padding-bottom: 20px;
}

footer.footer {
  position: absolute;
  bottom: 0;
  height: 80px;
  width: 100%;
  background-color: #343a40;
  color: white;
  font-size: smaller;
  padding-top: 30px;   /* put the text sort of in the center */
}

/* Allows list items to have multiple lines and BRs and still line up inside the bullet */
li.wrapping_list {
  list-style-type: disc;
  list-style-position: inside;
  text-indent: -1em;
  padding-left: 1em;
}

.listing-controls {
  padding: 15px 0;
  /* background: #02547D; */
}

.chart-controls {
  padding-top: 15px;
}
