span.confirm  { color: green }
span.deny     { color: red }

div.beta-marker {
  display: inline-block;
  float: left;
  position: relative;
  background-color: #f13;
  padding: 2px 3px;
  top: 7px;
  right: 8px;
  font-size: 8pt;
}
