<p>
  Greetings from the archive,
</p>

<p>A presentation you're watching:</p>

<p><%= link_to @presentation.name, presentation_url(@presentation) %></p>

<p>has a new publication (<%= @publication.format %>)</p>

<p>You can see the details here:  <%= link_to publication_url(@publication), publication_url(@publication) %></p>

<p>If you no longer wish to receive notifications for this presentation, you can turn them off on the presentation page.</p>

<p>
  Thanks,<br/>
  The archive community
</p>
