-# show uses this when listing presentations for a speaker. The heading links are different, so sortability works correctly.
%tr
  %th
    = sorting_header 'Name', :speaker_path, 'presentations.sortable_name'
  %th
    = sorting_header 'Presented', :speaker_path, 'presentations.date'
    = '/'
    = sorting_header 'Added', :speaker_path, 'presentations.created_at'
  %th Media
  %th
