-# show uses this when listing presentations for a speaker. The heading links are different, so sortability works correctly.
.row.mb-2
  .col-md-5
    = sorting_header 'Name', :speaker_path, 'presentations.sortable_name'
  .col
    = sorting_header 'Presented', :speaker_path, 'presentations.date'
    = '/'
    = sorting_header 'Added', :speaker_path, 'presentations.created_at'
  .col.text-right Media
  .col.d-none.d-md-block
