.row
  .col-md-12
    = title "Edit Speaker"
.row
  .col-md-12
    = simple_form_for @speaker do |f|
      = render :partial => "form_fields", :locals => {:f => f}
      = save_or_cancel f, speaker_path(@speaker, nav_params), 'Save'
