- title 'Speakers'

= render partial: 'control_bar'

.row
  .col-md-12
    - if @speakers.blank?
      - if params[:search_term].present?
        %p No speakers match that search term
      - else
        %p You haven't created any speakers yet.
    - else
      %table.table
        = render :partial => "table_head"
        = render :partial => "speaker", :collection => @speakers

      = paginate @speakers
