- title 'Speakers'

= render partial: 'control_bar'

- if @speakers.blank?
  .row
    .col-md-12
      - if params[:search_term].present?
        %p No speakers match that search term
      - else
        %p You haven't created any speakers yet.
- else
  .row
    .col-md-12
      %table.table
        = render :partial => "table_head"
        = render :partial => "speaker", :collection => @speakers

  = render :partial => 'shared/pagination', locals: { collection: @speakers }
