-# This puts the navbar outside the content div so it can span the page
- content_for :body do
  %nav.navbar.navbar-expand-lg.navbar-dark
    .container
      %ul.navbar-nav.mr-auto
      - if action_name == 'edit'
        = link_to "Save", "#", class: 'btn btn-sm btn-primary mr-3', onclick: "$('form.edit_user').submit()"
        = link_to "Cancel", account_path(@account), :class => "btn btn-sm btn-secondary ml-3"
      - elsif action_name == 'show'
        = link_to "Edit", edit_account_path, :class => "btn btn-sm btn-primary ml-3"
        = link_to "Done", root_path, :class => "btn btn-sm btn-secondary ml-3"
